<p>observables</p>
<button (click)="getAsyncData()">Click Me to get the observables</button>
<div *ngFor="let val of data">
    {{val}}
</div>

<!-- <app-observable-way2></app-observable-way2>
<app-observable-error-complete></app-observable-error-complete>
<app-of-from-operator></app-of-from-operator>
<app-map-filter-operator></app-map-filter-operator> -->

<!-- <app-ways-to-subscribe-to-observable></app-ways-to-subscribe-to-observable> -->

<!-- <app-function-vs-observables></app-function-vs-observables> -->

<!-- <app-unsubscribing-observable></app-unsubscribing-observable> -->

<app-avoiding-memory-leakage></app-avoiding-memory-leakage>